<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<title>Работа в ...</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Логотип компании</a></h1>
						<nav>
							<a href="#menu">Меню</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Меню</h2>
							<ul class="links">
								<li><a href="index.html">Главная</a></li>
								<li><a href="index.html#aboutus">О компании</a></li>
								<li><a href="elements.html">Вакансии</a></li>
								<li><a href="#contact">Контакты</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Вакансии</h2>
								<p>Здесь вы можете ознакомиться с актуальными вакансиями и заполнить анкету для участия в отборе сотрудников</p>
							</div>
						</header>

					<!-- Wrapper -->
					<section id="wrapper">

						<!-- Vacancies -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<div class="content">
										<h2 class="major">Открытые вакансии</h2>
										<section class="vacancy">
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
										</section>
									</div>
								</div>
							</section>
							<a name="contact"></a>

				<!-- Footer -->
				<section id="footer">
					<div class="inner">
						<h2 class="major">Свяжитесь с нами</h2>
						<p>Задайте интересующие вас вопросы об актуальных вакансиях:</p>
						<form method="post" action="#">
							<div class="fields">
								<div class="field">
									<label for="name">Имя</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Сообщение</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Отправить сообщение"/></li>
							</ul>
						</form>
						<ul class="contact">
							<li class="icon solid fa-home">
								Беларусь<br />
								пр.Независимости, 33<br />
								Минск
							</li>
							<li class="icon solid fa-phone"><a href="tel:00000000000">(000) 000-0000</a></li>
							<li class="icon solid fa-envelope"><a href="mailto:information@mail.ru">information@mail.ru</a></li>
						</ul>
					</div>
				</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>