{% extends 'base.html' %}

{% block title %}Работа у нас{% endblock title %}

{% block content %}
				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Вакансии</h2>
								<p>Здесь вы можете ознакомиться с актуальными вакансиями и заполнить анкету для участия в отборе сотрудников</p>
							</div>
						</header>

					<!-- Wrapper -->
					<section id="wrapper">

						<!-- Vacancies -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<div class="content">
										<h2 class="major">Открытые вакансии</h2>
										<section class="vacancy">
											<article>
												{% for elem in vacancy %}
												<h3 class="major">Должность</h3>
												<p>{{ elem.vacancy_text }}</p>
												<a href="#contact" class="special">Подать заявку</a>
												{% endfor %}
											</article>
										</section>
									</div>
								</div>
							</section>
							<a name="contact"></a>
{% endblock content %}