{% extends 'base.html' %}

{% block title %}Работа в ...{% endblock title %}

{% block content %}
				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Вакансии</h2>
								<p>Здесь вы можете ознакомиться с актуальными вакансиями и заполнить анкету для участия в отборе сотрудников</p>
							</div>
						</header>

					<!-- Wrapper -->
					<section id="wrapper">

						<!-- Vacancies -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<div class="content">
										<h2 class="major">Открытые вакансии</h2>
										<section class="vacancy">
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
											<article>
												<div class="image-1">
													<img src="images/pic04.jpg" alt="" />
												</div>
												<h3 class="major">Должность</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
												<a href="#contact" class="special">Подать заявку</a>
											</article>
										</section>
									</div>
								</div>
							</section>
							<a name="contact"></a>
{% endblock content %}