{% extends 'base.html' %}
{% block content %}
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"></div>
							<h2>UAB "PrimECO"</h2>
							<p></p>
						</div>
					</section>
					<a name="aboutus"></a>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- About us -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<div class="content">
										<h2 class="major">О нас</h2>
										{% for elem in about %}
										<p>{{ elem.about_text }}</p>
										{% endfor %}
									</div>
								</div>
							</section>

					</section>
					<a name="vacancy"></a>
				<!-- Wrapper -->
					<section id="wrapper">

						<!-- Vacancies -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<div class="content">
										<h2 class="major">Открытые вакансии</h2>
										<section class="vacancy">
											<article>
												{% for elem in vacancy %}
												<h3 class="major">Должность</h3>
												<p>{{ elem.vacancy_text }}</p>
												<a href="#contact" class="special">Подать заявку</a>
												{% endfor %}
											</article>
										</section>
									</div>
								</div>
							</section>
{% endblock content %}
