{% extends 'base.html' %}
{% block content %}
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"></div>
							<h2>UAB "Primeconsultants investicijos"</h2>
							<p></p>
						</div>
					</section>
					<a name="aboutus"></a>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- About us -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<div class="content">
										<h2 class="major">О нас</h2>
										{% for elem in about %}
										<p>{{ elem.about_text }}</p>
										{% endfor %}
									</div>
								</div>
							</section>

						<!-- Gallery -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Галерея</h2>s
									<section class="features">
									{% if gallery %}
										{% for elem in gallery %}
										<article>
											<div class="image"><img src="{{elem.picture_file}}"  alt="" /></div>
										</article>
										{% endfor %}
									{% else %}
										<article>
											<div class="image">Изображения отсутсвуют</div>
										</article>
									{% endif %}
									</section>
								</div>
							</section>

					</section>
					<a name="contact"></a>
{% endblock content %}
